
Craft-server/.vs/Craft-server/config/applicationhost.config
Craft-server/.vs/Craft-server/DesignTimeBuild/.dtbcache
Craft-server/.vs/Craft-server/v16/.suo
Craft-server/.vs/Craft-server/v16/Server/sqlite3/db.lock
Craft-server/.vs/Craft-server/v16/Server/sqlite3/storage.ide
Craft-server/.vs/Craft-server/v16/Server/sqlite3/storage.ide-shm
Craft-server/.vs/Craft-server/v16/Server/sqlite3/storage.ide-wal
